USE [master]
GO
/****** Object:  Database [PRN211_FA23_SE1733_2]    Script Date: 11/29/2023 10:20:11 PM ******/
CREATE DATABASE [PRN211_FA23_SE1733_2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRN211_FA23_SE1733_2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PRN211_FA23_SE1733_2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRN211_FA23_SE1733_2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PRN211_FA23_SE1733_2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRN211_FA23_SE1733_2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRN211_FA23_SE1733_2]
GO
/****** Object:  Table [dbo].[CartHE172748]    Script Date: 11/29/2023 10:20:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartHE172748](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Customer_CustomerID] [int] NOT NULL,
	[Product_id] [int] NOT NULL,
	[Amount] [int] NOT NULL,
 CONSTRAINT [CartHE172748_pk] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryHE172748]    Script Date: 11/29/2023 10:20:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryHE172748](
	[cname] [nvarchar](50) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [CategoryHE172748_pk] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerHE172748]    Script Date: 11/29/2023 10:20:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerHE172748](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](45) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Username] [varchar](255) NOT NULL,
	[Password] [varchar](255) NOT NULL,
 CONSTRAINT [Customer_pk] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeHE172748]    Script Date: 11/29/2023 10:20:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeHE172748](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](45) NOT NULL,
	[Username] [varchar](255) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Role_RoleID] [int] NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
 CONSTRAINT [Employee_pk] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetailHE172748]    Script Date: 11/29/2023 10:20:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetailHE172748](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductHE172748_id] [int] NOT NULL,
	[OrderHE172748_OrderId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[TotalPrice] [decimal](20, 2) NOT NULL,
	[tmp] [nvarchar](max) NULL,
 CONSTRAINT [OrderDetailHE172748_pk] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderHE172748]    Script Date: 11/29/2023 10:20:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderHE172748](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Total] [decimal](20, 2) NOT NULL,
	[CustomerHE172748_CustomerID] [int] NOT NULL,
	[StatusId] [int] NULL,
	[tmp] [nvarchar](max) NULL,
 CONSTRAINT [OrderHE172748_pk] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductHE172748]    Script Date: 11/29/2023 10:20:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductHE172748](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[img] [nvarchar](max) NOT NULL,
	[price] [decimal](20, 2) NOT NULL,
	[Employee_EmployeeID] [int] NOT NULL,
	[Category_id] [int] NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[tmp] [nvarchar](max) NOT NULL,
 CONSTRAINT [ProductHE172748_pk] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReviewHE172748]    Script Date: 11/29/2023 10:20:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewHE172748](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[Product_id] [int] NOT NULL,
	[star] [int] NOT NULL,
	[Customer_CustomerID] [int] NOT NULL,
	[CreateOn] [datetime] NOT NULL,
	[tmp] [nvarchar](max) NOT NULL,
 CONSTRAINT [ReviewHE172748_pk] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleHE172748]    Script Date: 11/29/2023 10:20:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleHE172748](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](255) NOT NULL,
 CONSTRAINT [RoleHE172748_pk] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CartHE172748] ON 

INSERT [dbo].[CartHE172748] ([id], [Customer_CustomerID], [Product_id], [Amount]) VALUES (1, 1, 1, 0)
INSERT [dbo].[CartHE172748] ([id], [Customer_CustomerID], [Product_id], [Amount]) VALUES (2, 2, 1, 5)
INSERT [dbo].[CartHE172748] ([id], [Customer_CustomerID], [Product_id], [Amount]) VALUES (3, 2, 2, 0)
SET IDENTITY_INSERT [dbo].[CartHE172748] OFF
GO
SET IDENTITY_INSERT [dbo].[CategoryHE172748] ON 

INSERT [dbo].[CategoryHE172748] ([cname], [id]) VALUES (N'Category1', 1)
INSERT [dbo].[CategoryHE172748] ([cname], [id]) VALUES (N'Category2', 2)
SET IDENTITY_INSERT [dbo].[CategoryHE172748] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerHE172748] ON 

INSERT [dbo].[CustomerHE172748] ([CustomerID], [FullName], [Address], [PhoneNumber], [Email], [Username], [Password]) VALUES (1, N'Customer1', N'Address1', N'123456789', N'customer1@email.com', N'user1', N'password1')
INSERT [dbo].[CustomerHE172748] ([CustomerID], [FullName], [Address], [PhoneNumber], [Email], [Username], [Password]) VALUES (2, N'Customer2', N'Address2', N'987654321', N'customer2@email.com', N'user2', N'password2')
SET IDENTITY_INSERT [dbo].[CustomerHE172748] OFF
GO
SET IDENTITY_INSERT [dbo].[EmployeeHE172748] ON 

INSERT [dbo].[EmployeeHE172748] ([EmployeeID], [FullName], [Username], [Password], [Role_RoleID], [Email]) VALUES (1, N'Employee1', N'employee1', N'emp_password1', 1, N'employee1@email.com')
INSERT [dbo].[EmployeeHE172748] ([EmployeeID], [FullName], [Username], [Password], [Role_RoleID], [Email]) VALUES (2, N'Employee2', N'employee2', N'emp_password2', 2, N'employee2@email.com')
SET IDENTITY_INSERT [dbo].[EmployeeHE172748] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetailHE172748] ON 

INSERT [dbo].[OrderDetailHE172748] ([ID], [ProductHE172748_id], [OrderHE172748_OrderId], [Quantity], [TotalPrice], [tmp]) VALUES (1, 1, 1, 2, CAST(2000.00 AS Decimal(20, 2)), NULL)
INSERT [dbo].[OrderDetailHE172748] ([ID], [ProductHE172748_id], [OrderHE172748_OrderId], [Quantity], [TotalPrice], [tmp]) VALUES (2, 2, 1, 2, CAST(400.00 AS Decimal(20, 2)), NULL)
INSERT [dbo].[OrderDetailHE172748] ([ID], [ProductHE172748_id], [OrderHE172748_OrderId], [Quantity], [TotalPrice], [tmp]) VALUES (3, 1, 1, 1, CAST(1000.00 AS Decimal(20, 2)), NULL)
SET IDENTITY_INSERT [dbo].[OrderDetailHE172748] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderHE172748] ON 

INSERT [dbo].[OrderHE172748] ([OrderId], [Address], [Total], [CustomerHE172748_CustomerID], [StatusId], [tmp]) VALUES (1, N'', CAST(2000.00 AS Decimal(20, 2)), 1, 0, NULL)
INSERT [dbo].[OrderHE172748] ([OrderId], [Address], [Total], [CustomerHE172748_CustomerID], [StatusId], [tmp]) VALUES (2, N'', CAST(2000.00 AS Decimal(20, 2)), 1, 0, NULL)
INSERT [dbo].[OrderHE172748] ([OrderId], [Address], [Total], [CustomerHE172748_CustomerID], [StatusId], [tmp]) VALUES (3, N'', CAST(2000.00 AS Decimal(20, 2)), 1, 0, NULL)
SET IDENTITY_INSERT [dbo].[OrderHE172748] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductHE172748] ON 

SET IDENTITY_INSERT [dbo].[ProductHE172748] OFF
GO
SET IDENTITY_INSERT [dbo].[RoleHE172748] ON 

INSERT [dbo].[RoleHE172748] ([RoleID], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[RoleHE172748] ([RoleID], [RoleName]) VALUES (2, N'User')
SET IDENTITY_INSERT [dbo].[RoleHE172748] OFF
GO
ALTER TABLE [dbo].[CartHE172748]  WITH CHECK ADD  CONSTRAINT [Cart_Customer] FOREIGN KEY([Customer_CustomerID])
REFERENCES [dbo].[CustomerHE172748] ([CustomerID])
GO
ALTER TABLE [dbo].[CartHE172748] CHECK CONSTRAINT [Cart_Customer]
GO
ALTER TABLE [dbo].[CartHE172748]  WITH CHECK ADD  CONSTRAINT [Cart_Product] FOREIGN KEY([Product_id])
REFERENCES [dbo].[ProductHE172748] ([id])
GO
ALTER TABLE [dbo].[CartHE172748] CHECK CONSTRAINT [Cart_Product]
GO
ALTER TABLE [dbo].[EmployeeHE172748]  WITH CHECK ADD  CONSTRAINT [Employee_Role] FOREIGN KEY([Role_RoleID])
REFERENCES [dbo].[RoleHE172748] ([RoleID])
GO
ALTER TABLE [dbo].[EmployeeHE172748] CHECK CONSTRAINT [Employee_Role]
GO
ALTER TABLE [dbo].[OrderDetailHE172748]  WITH CHECK ADD  CONSTRAINT [OrderDetailHE172748_OrderHE172748] FOREIGN KEY([OrderHE172748_OrderId])
REFERENCES [dbo].[OrderHE172748] ([OrderId])
GO
ALTER TABLE [dbo].[OrderDetailHE172748] CHECK CONSTRAINT [OrderDetailHE172748_OrderHE172748]
GO
ALTER TABLE [dbo].[OrderDetailHE172748]  WITH CHECK ADD  CONSTRAINT [OrderDetailHE172748_ProductHE172748] FOREIGN KEY([ProductHE172748_id])
REFERENCES [dbo].[ProductHE172748] ([id])
GO
ALTER TABLE [dbo].[OrderDetailHE172748] CHECK CONSTRAINT [OrderDetailHE172748_ProductHE172748]
GO
ALTER TABLE [dbo].[OrderHE172748]  WITH CHECK ADD  CONSTRAINT [OrderHE172748_CustomerHE172748] FOREIGN KEY([CustomerHE172748_CustomerID])
REFERENCES [dbo].[CustomerHE172748] ([CustomerID])
GO
ALTER TABLE [dbo].[OrderHE172748] CHECK CONSTRAINT [OrderHE172748_CustomerHE172748]
GO
ALTER TABLE [dbo].[ProductHE172748]  WITH CHECK ADD  CONSTRAINT [Product_Category] FOREIGN KEY([Category_id])
REFERENCES [dbo].[CategoryHE172748] ([id])
GO
ALTER TABLE [dbo].[ProductHE172748] CHECK CONSTRAINT [Product_Category]
GO
ALTER TABLE [dbo].[ProductHE172748]  WITH CHECK ADD  CONSTRAINT [Product_Employee] FOREIGN KEY([Employee_EmployeeID])
REFERENCES [dbo].[EmployeeHE172748] ([EmployeeID])
GO
ALTER TABLE [dbo].[ProductHE172748] CHECK CONSTRAINT [Product_Employee]
GO
ALTER TABLE [dbo].[ReviewHE172748]  WITH CHECK ADD  CONSTRAINT [Review_Customer] FOREIGN KEY([Customer_CustomerID])
REFERENCES [dbo].[CustomerHE172748] ([CustomerID])
GO
ALTER TABLE [dbo].[ReviewHE172748] CHECK CONSTRAINT [Review_Customer]
GO
ALTER TABLE [dbo].[ReviewHE172748]  WITH CHECK ADD  CONSTRAINT [Review_Product] FOREIGN KEY([Product_id])
REFERENCES [dbo].[ProductHE172748] ([id])
GO
ALTER TABLE [dbo].[ReviewHE172748] CHECK CONSTRAINT [Review_Product]
GO
USE [master]
GO
